= form_with(model: @user, url: signup_path, local: true) do |f|
  = render 'shared/error_messages'
    
  .form-group
    = f.text_field :name, class: 'form-control', placeholder: "名前"
        
  .form-group
    = f.email_field :email, class: 'form-control', placeholder: "メールアドレス"
  
  .form-group
    = f.password_field :password, class: 'form-control', placeholder: "パスワード"
    
    
  .form-group
    = f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード（再入力）"
    
  .form-group
    = f.submit yield(:button_text), class: "btn btn-info btn-lg form-submit"