%header
  %nav.navbar.navbar-expand-sm.navbar-dark.fixed-top.navbar-extend
    %a.navbar-brand{ :href => "#"}
      .navbar-brand-extend
        = link_to image_tag("logo-img-txt.png", width: 100), root_path, class: "logo-img-txt"
    %button.navbar-toggler{"data-target" => "#menu", "data-toggle" => "collapse"}
      %span.navbar-toggler-icon
    #menu.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
      - if logged_in?
        %li.nav-item.nav-item-extend
          = link_to "プロフィール", current_user, class: "btn btn-secondry btn-md btn-extend"
        %li.nav-item.nav-item-extend
          = link_to "設定", edit_user_path(current_user), class: "btn btn-secondry btn-md btn-extend"
        %li.nav-item.nav-item-extend
          = link_to "ログアウト", logout_path, method: :delete, class: "btn btn-danger btn-md btn-extend btn-logout-extend"
      - else
        %li.nav-item.nav-item-extend
          = link_to "新しくはじめる", signup_path, class: "btn btn-info btn-md btn-extend"
        %li.nav-item.nav-item-extend
          = link_to "ログイン", login_path, class: "btn btn-outline-info btn-md btn-extend btn-login-extend"
